.fview{
    top:40px;
    left:360px;
    font-family: "Lucida Console", Courier, monospace;
    color: white;
    font-size: 40px;
    font-style: normal;
    position: absolute;
  }
  
  .Fviewheadder2-1{
    top:100px;
    left:550px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    
  }
  .Fviewheadder2-2{
    top:130px;
    left:510px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    
  }
  .Fviewheadder2-3{
    top:160px;
    left:420px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    
  }
  .Fviewheadder2-4{
    top:190px;
    left:590px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    
  }
  .Fviewheadder2-5{
    top:220px;
    left:350px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    
  }
  
  .h1{
    
    font-size: 40px;
    color:#0fc690 ;
    top:260px;
    left:530px;
    position: absolute;
  }
  
  .Fviewheadder3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    font-style: oblique;
    position: absolute;
    top:320px;
    left:300px;
  }
  
  
  
  .pics{
    background: rgb(59, 59, 59);
  width:100%;
  height:90%;
  top:59px;
  position: absolute;
  
  }
  .btun{
    color:black;
    width:180px;
    height: 50px;
    top:400px;
    position: absolute;
    left:610px;
    font-size: large;
    font-weight: 1000;
  }
  .IMAGES1{
    width:200px;
    height:150px;
    left:50px;
    position: absolute;
    top:30px;
  
  }
  
  .IMAGES2{
    width:200px;
    height:150px;
    top:30px;
    left:1100px;
    position: absolute;
    
  }
  
  .IMAGES3{
    width:200px;
    height:150px;
   position: absolute;
   left:50px;
   top:220px;

  }
  
  .IMAGES4{
    width:200px;
    height:150px;
    left:1100px;
    top:220px;
    position: absolute;
  }
  
  
  .IMAGES5{
    width:200px;
    height:150px;
    left:50px;
  position: absolute;
    top:410px;
  }
  
  
  .IMAGES6{
    width:200px;
    height:150px;
    left:1100px;
  position: absolute;
  top:410px;
  }
