.containes {
    background-color:rgb(59, 59, 59);
    padding: 33rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .t11{
    top:140px;
    left:1150px;
    height:160px;
    width: 70px;
    position: absolute;
}
.t2{
    top:270px;
    left:1150px;
    height:160px;
    width: 70px;
    position: absolute;
}
.t3{
    top:400px;
    left:1150px;
    height:160px;
    width: 70px;
    position: absolute;
}

.v2{
  top:190px;
  left:1100px;
  position: absolute;
  color: white;
  font-size: 17px;
}

.v3{
  top:215px;
  left:1100px;
  position: absolute;
  color: white;
  font-size: 17px;
}

.v4{
  top:315px;
  left:1080px;
  position: absolute;
  color: white;
  font-size: 17px;
}
.v5{
  top:455px;
  left:1100px;
  position: absolute;
  color: white;
  font-size: 17px;
}

  .mapo{
    position: absolute;
    left:720px;
    top:140px;
    
    box-shadow: 5px 5px black;
  
   border-style: solid;
}

.tell{
    position: absolute;
    background-color:white;
    left: 300px;
    top:160px;
    height: 370px;
    width: 400px;
    border-color:black; 
    border-radius: 20px;
   box-shadow: 2px 2px black ;
 
  border-style: solid;
  
}


.form-contro1{
    color: black;
    left:100px;
    top:40px;
    position: absolute;
    width: 250px;
    border-color:black;
}

.form-contro2{
  color: black;
  left:100px;
  top:80px;
  position: absolute;
  width: 250px;
  border-color:black;
  
}

.form-contro3{
  color: black;
  left:100px;
  top:120px;
  position: absolute;
  width: 250px;
  border-color:black;
  
}

.form-contro4{
  color: black;
  left:100px;
  top:160px;
  position: absolute;
  width:250px;
  border-color:black;
  
  
}


.t6{
    top:85px;
    left:80px;
    position: absolute;
   
    font-size: 40px;
    font-family: 'Coda Caption', sans-serif;
   
    color: white;    
} 

.bt{
    background-color:  black;
    color: white;
    left:100px;
    top:320px;
    position: absolute;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.lb1{
    color:black;
    background-color:white;
    left:20px;
    top:40px;
    position: absolute;
    width: 50px;
    font-size: 18px;
    
}

.lb2{
    color:black;
    background-color:white;
    left:20px;
    top:80px;
    position: absolute;
    width: 50px;
    font-size: 18px;
}

.lb3{
    color:black;
    background-color:white;
    left:20px;
    top:120px;
    position: absolute;
    width: 50px;
    font-size: 18px;
}

.lb4{
    color:black;
    background-color:white;
    left:20px;
    top:160px;
    position: absolute;
    width: 50px;
    font-size: 18px;
}

@media screen and (max-width: 820px) {
    .t6 {
      padding-top: 2rem;
      left:40px;
      font-size: 30px;
    }
  
    .tell {
    
        left:40px;
        flex-direction: column;
        top:200px;
    }

    .mapo{
        left:20px;
        flex-direction: column;
        top:600px;
    }

    .containes{
        padding: 60rem 0 2rem 0;
    }

    .t11{
        left:380px;
        flex-direction: column;
        top:600px;
    }
    
    .t2{
        left:380px;
        flex-direction: column;
        top:750px;
    }
    .t3{
        left:380px;
        flex-direction: column;
        top:900px;
    }

    .v2{
        left:350px;
        flex-direction: column;
        top:650px;
        font-size: 15px;
    }
    .v4{
        left:335px;
        flex-direction: column;
        top:800px;
        font-size: 14px;
    }
    .v3{
        left:350px;
        flex-direction: column;
        top:670px;
        font-size: 15px;
    }
    .v5{
        left:350px;
        flex-direction: column;
        top:950px;
        font-size: 15px;
    }
  }
  
  @media screen and (max-width: 500px) {



    .containes {
      
      padding: 74rem 0 2rem 0;
      
      
    }
    .tell{
        left:10px;
        width: 340px;
        top:170px;
    }

    .form-contro4{
       
        left:70px;
      
    }
    
    .form-contro3{
       
        left:79px;
      
    }
    .form-contro1{
        left: 75px;
    }
    .form-contro2{
        left: 75px;
    }
    .t6 {
        padding-top: 2rem; 
       left:5px;
       font-size: 25px; 
       
     }
     .mapo{
      left:20px;
      flex-direction: column;
      top:860px;
   
    }
  .t11{
    left:150px;
    flex-direction: column;
    top:580px;
   }
   .t2{
    left:150px;
    flex-direction: column;
    top:680px;
   }
   .t3{
    left:150px;
    flex-direction: column;
    top:780px;
   }
   .v2{
    left:120px;
    flex-direction: column;
    top:630px;
    font-size: 15px;
}
.v4{
    left:100px;
    flex-direction: column;
    top:730px;
    font-size: 15px;
}
.v3{
    left:120px;
    flex-direction: column;
    top:650px;
    font-size: 15px;
}
.v5{
    left:120px;
    flex-direction: column;
    top:830px;
    font-size: 15px;
}


    }