/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .regi{
    width: 280px;
    border: 1px solid #d6d7da;
    padding: 0px 17px 17px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color:white;
    font-size: 14px;
    background: black;
    /* margin: 100px auto; */
    left:570px;
    top: 100px;
    position: absolute;
    
  }
  
  form label, form input {
    display: block;
    margin-bottom: 10px;
    width: 90%
    
  }

   .cos {
   
    background: rgb(59, 59, 59);
    display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
    
    
  } 
  
  form input {
    padding: 3px;
    border: solid 1px #BDC7D8;
  
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }

    

 
 .che{
  top:415px;
  left:80px;
  position: absolute;
}