/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .register{
    width: 400px;
    border: 4px solid #d6d7da;
    padding: 30px 17px 17px 15px;
    border-radius: 6px;
    font-family: arial;
    /* line-height: 16px; */
    color:white;
    font-size: 16px;
    background: rgb(0, 7, 7);
    /* margin: 100px auto; */
    left:110px;
    top: 100px;
    position: absolute;
  }
  
  form label, form input {
    display: block;
    margin-bottom: 10px;
    width: 90%
    
  }
  
  form input {
    padding: 3px;
    border: solid 1px #BDC7D8;
  
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }

  .del{
    
    background-image: url(cover.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    
 }   

 
 .ch{
  top:450px;
  left:80px;
  position: absolute;
}