.LoginForm{
    max-width: 500px;
    margin: auto;     
    height: 400px; 
    width:200px; 
    color: white;
    position: absolute;
    top:10px;
    left:50px;  }

.header{
    /* font-family: 'Times New Roman', Times, serif; */
    font-style: normal;
    font-size: normal; 
    color: whitesmoke;
    /* background-position:; */
  }



 .cardo{
  background-color: black;
  height : 400px;
  width: 300px;
  position: absolute;
  left: 500px;
  top: 140px;
  border-radius: 10px;

}  

.ful {
  padding: 17rem;
  background: rgb(59, 59, 59);
}

.mg {
  color: #cc0000;
  margin-bottom: 12px;
}


.but {
  background-color: red;
  border-color:red;
  font-weight: bold;
  padding: 5px 1px;
  color: #ffffff;
}
